<h2>Posts</h2>
<div class="post-list">

    <ul>
        <% page.posts.each(function(post) { %> 
        
            <li>
                <%- partial("_partials/article_item.ejs", { article: post }) %>
            </li>
    
        <% }) %>
    </ul>

</div>
